body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    background-color: rgb(4, 10, 27);
}

/* Navbar styling */
#navbar {
    /* border: 2px solid red; */
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar > a {
    /* border: 2px solid red; */
    width: 3rem;
    height: 3rem;
}

#navbar > #close{
    width: 2.5rem;
    height: 2.5rem;
}
.menu-item {
    display: none;
}
#navbar > a > img {
    width: 100%;
    height: 100%;
}

/* Main container styling */
#main-container {
    /* border: 2px solid red; */
    padding: 1rem 1rem 1rem 10rem;
}

#main-container > #icons-container {
    width: 2rem;
    height: 2rem;
    /* border: 2px solid red; */
}
#main-container > #icons-container  img {
    width: 100%;
    height: 100%;
}
#main-container textarea {
    width: 1000px;
    height: 600px;
    resize: none;
    border: none;
    margin-top: .5rem;
    font-size: x-large;
    outline: none;
    padding: .5rem;
    background-color: rgba(21, 99, 109, 0);
    color: white;
}

textarea::placeholder {
    color: white;
}

textarea::-webkit-scrollbar {
    display: none;
}

